<h1>Listing supermarkets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Wikipedia url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @supermarkets.each do |supermarket| %>
  <tr>
    <td><%= supermarket.name %></td>
    <td><%= supermarket.wikipedia_url %></td>
    <td><%= link_to 'Show', supermarket %></td>
    <td><%= link_to 'Edit', edit_supermarket_path(supermarket) %></td>
    <td><%= link_to 'Destroy', supermarket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supermarket', new_supermarket_path %>
